
.App {
  text-align: center;
}
/* search */
#searchBar{
  margin: 90px 0 60px 0;
}
/* movie */
#movieWrap{
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px 50px;
}
/* movie details */
#movieDetails{
  /* border: solid green; */
  margin-left: 20px;
}
.movieTitle{
  font-size: 35px;
  font-style: italic;
}
.movieTitle span{
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.movieDirect span{
  margin-left: 20px;
}
.plot {
  width: 500px;
  padding: 15px;
}